#cart__info{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(102, 150, 204, 0.753);
    border-radius: 10px;
    padding: 5px;
}

#clear__button {
    height: 40px;
    background-color: rgb(219, 67, 67);
}

.img__product {
    width: 150px;
    height: 150px;
}

#shop__info {
    display: block
}